= form_for @activity do |f|
  -if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :act
    = f.text_field :act
  .field
    = f.label :location
    = f.text_field :location
  .actions
    = f.submit 'Save'
