%p#notice= notice

%p
  %b Name:
  = @location.name

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
%br
Address for
= @location.address
%br
@
=@location.latitude
X
= @location.longitude
= gmaps4rails(@json)